<script>
    app.component('last-contact', {
        data: function () {
            return {
                timestampEvent: undefined
            }
        },
        mounted: function () {
            Axios.get(`/Device/Contact/${this.device_id}?last=true`)
                .then((response) => {
                    this.timestampEvent = response.data[0]
                })
        },
        props: { device_id: String },
        template: `
                <div class="card-header pb-0" style="color: #201063; ">
                    <h5 class="card-title" style="font-weight: bold;"><img src="/Icons/back-in-timeBlueBeon.svg" /> Last contact</h5>
                </div>
                <div class="card-body ">
                    <p class="card-text">   {{timestampEvent}}</p>
            </div>`
    })
</script>


