@{
    ViewData["Title"] = "View";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BeOn</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/beon.css" />

</head>
<body class="d-flex" style="height:100vh;width:100vw">

<div class="text-center m-auto">
    <h1 class="display-4"><img src="~/logoBeOn.png" alt="logo beon" class="" style="width:50vh; max-width:100%;"/></h1>
    <button type="button" class="btn btn-info btn-lg mb-5 "> <a asp-controller="Beon" asp-action="Overview" style="color:#FFFF"> Enter</a> </button>
</div>

</body>
</html>