@model List<Device>
@{
    ViewData["Title"] = "listDevices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="d-flex flex-column-reverse flex-lg-row">

    <article class="container-fluid p-0">
        <div class="border m-3 m-lg-0">

            <div class="border p-3">
                <h3 class="text-left">Tracker List</h3>
            </div>

            <ul class="list-group">
                @foreach (Device device in Model)
                {
                    @if (@device.EnvironmentPayloads.Count() != 0)
                    {

                        <li class="list-group-item">
                            <a asp-action="Details" asp-controller="Home" asp-route-deviceId="@device.DeviceId">@device.DeviceId</a>
                        </li>
                    }
                    else
                    {
                        <li class="list-group-item">  @device.DeviceId <i class="text-muted">No data available</i></li>
                    }
                }
            </ul>
            </div>
    </article>

    <aside class="d-flex flex-column flex-lg-row-reverse m-3 mr-lg-0  p-0  ">
        <div class="h-100 p-0 mr-2 text-center">
            <a class="btn btn-light border h-100  " data-bs-toggle="collapse" href="#alertCollapse" role="button" aria-expanded="false" aria-controls="alertCollapse" onclick="ChangeArrow()">
                <span class="position-relative d-none d-lg-flex" style="top:50%;">
                    <img src="~/Icons/left-arrow.svg" alt="" id="arrowLeft" /><img src="~/Icons/right-arrow.svg" alt="" class="d-none" id="arrowRight">&nbsp
                    <img src="~/Icons/notificationBell.svg" alt="" />
                    <img src="~/Icons/notification.svg" alt="" />
                </span>
                <span class="position-relative d-flex flex-column-reverse d-lg-none " style="top:50%;">
                    <img src="~/Icons/down-arrow.svg" alt="" id="arrowDown" />
                    <img src="~/Icons/up-arrow.svg" alt="" class="d-none" id="arrowUp" />&nbsp
                    <img src="~/Icons/notificationBell.svg" alt="" />
                    <img src="~/Icons/notification.svg" alt="" />
                </span>
            </a>
        </div>
        <div class="row">
            <div class="col text-center" style="width:max-content;">
                <div class="collapse" id="alertCollapse">
                    <div class="card card-body" style="height: 80vh;  overflow-y: scroll;">
                        <div class="dropdown-divider"></div>
                        <div>
                            <p>
                                Device:
                            </p>
                            <p>
                                Last contact: <br />
                            </p>
                            <p>
                                <a asp-controller="Beon" asp-action="Dashboard">Link to dashboard</a>
                            </p>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="alertedcolorred">
                            <p> <img src="~/Icons/heat.svg" alt="" />  Temperature Alert -</p>
                        </div>
                        <div class="alertcolorgreen ">
                            <p><img src="~/Icons/heat.svg" alt="" /> Temperature Alert Terminated -</p>
                        </div>
                        <div class="alertcolorblue ">
                            <p><img src="~/Icons/warningBlueBeon.svg" alt="">  Shock Alert -</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</section>