@model IEnumerable<Device>

@{
    ViewData["Title"] = "listDevices";
    Layout = "~/Views/Shared/_LayoutBeonPrincipal.cshtml";
}
<div class="border p-3">
    <h3 class="text-left  ">Tracker List</h3>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Device Id</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody>
       
      
        @foreach (Device dev in Model)
        {
        <tr>
            <th scope="row"> <a asp-controller="Beon" asp-action="TestDashboard" asp-route-IdDevice="@dev.DeviceId"> @dev.DeviceId</a></th>
            <td scope="row"><a asp-controller="Beon" asp-action="TestDashboard" asp-route-IdDevice="@dev.Name"> @dev.Name</a> </td>
        </tr>
        }
    </tbody>
</table>
