@model List<EnvironmentPayload>

@{
    ViewData["Title"] = "listDevices";
    Layout = "~/Views/Shared/_LayoutBeonPrincipal.cshtml";
}
<div class="border p-3">
    <h3 class="text-left  ">Tracker List</h3>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Device</th>
            <th scope="col">TimestampEvent</th>
        </tr>
    </thead>
    <tbody>
        @foreach (EnvironmentPayload environment in Model)
        {
        <tr>
            <th scope="row"> <a asp-controller="Beon" asp-action="TestDashboard" asp-route-SeqNumber="@environment.SeqNumber"> @environment.SeqNumber</a></th>
            <td> <a asp-controller="Beon" asp-action="TestDashboard" asp-route-SeqNumber="@environment.SeqNumber"> @environment.TimestampEvent</a></td>

        </tr>

        }
    </tbody>
</table>
