
@{
    ViewData["Title"] = "Overview";
    Layout = "~/Views/Shared/_layoutBeonPrincipal.cshtml";
}

<article>
<div class="card m-auto m-lg-3 ">
    <div class="card-header pb-0" style=" color: #201063;">
        <h5 class="card-title " style="font-weight: bold;"><i class="fas fa-map-marked"></i> Overview</h5>
    </div>
    <div class="card-body">
        <div id="overview"></div>
    </div>
</div>

</article>